# 屏蔽Code文件夹中的特定子文件夹
Code/Codecpp/
Code/codejava/
Code/Qtwork/
Code/Schoolwork/

# 屏蔽Qtwork目录下的所有build文件夹
# **/表示匹配任意层级的目录
Qtwork/**/build/ 
# Qtwork目录下任意深度的build文件都会被忽略


# 屏蔽Algorihtm目录下的所有.cph文件
Code/Algorithm/**/.cph/

# 屏蔽所有exe可执行文件
*.exe

#屏蔽Front-end
Front-end/